*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{
  padding: 20px;
  text-align: center;
}

.nav-list{
  text-align: center;
  padding: 15px 0;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
.nav-text{
  margin: 0 20px;
}
main{
  width: 800px;
  margin: 50px auto;
  display: flex;
  flex-wrap:wrap;
}

.box1{
  width: 200px;
  height: 200px;
  background-color: #e6ffe9;
}

.box2{
  width: 200px;
  height: 200px;
  background-color: #cbffd3;
}

.box3{
  width: 200px;
  height: 200px;
  background-color: green;
}

.box4{
  width: 200px;
  height: 200px;
  background-color: green;
}

.box5{
  width: 200px;
  height: 200px;
  background-color: green;
}

.box6{
  width: 200px;
  height: 200px;
  background-color: green;
}

.box7{
  width: 200px;
  height: 200px;
  background-color: green;
}

.box8{
  width: 200px;
  height: 200px;
  background-color: green;
}

.box9{
  width: 200px;
  height: 200px;
  background-color: green;
}

.box10{
  width: 200px;
  height: 200px;
  background-color: green;
}

.box11{
  width: 200px;
  height: 200px;
  background-color: green;
}

.box12{
  width: 200px;
  height: 200px;
  background-color: green;
}

footer{
  height: 120px;
  text-align: center;
  line-height: 120px;
  background-color: #848282;
}